---
- name: Test sample role
  hosts: localhost
  gather_facts: false
  vars: {}
  tasks:
    - name: Show copyright # noqa: run-once[task]
      solid.example.show_c:
      run_once: true

    - name: Show warranty # noqa: run-once[task]
      solid.example.show_w:
      run_once: true

    - name: Run simple role
      ansible.builtin.include_role:
        name: solid.example.simple_role
